
@import url('https://matiaslescano.com.ar/static/fonts/pixelicious.css');

html, body {
    margin: 0;
    height: 99%;
}


body {
    background: url("../content/hotline.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blurred-body {
    background: url("../content/hotlineblur.jpg") no-repeat center center fixed;
    background-size: cover;
}

.blurred-body .tinted {
    background-image: linear-gradient(0deg,rgba(255,255,255,.2),rgba(255,255,255,.2));
    background: url("../content/hotlineblur.jpg");
}

p {
    padding-left:5px;
    font-family: Pixelicious, monospace;
    font-size: 1.5em;
    text-transform: uppercase;
    color: transparent;
    filter: blur(0.3px);
    margin:0;
    animation: 2s ease-in-out infinite alternate pulse;
}
.grid-item > button {
    padding-left: 5px;
    font-family: Pixelicious, monospace;
    font-size: 1.5em;
    text-transform: uppercase;
    color: transparent;
    filter: blur(0.3px);
    margin: 0;
    animation: 2s ease-in-out infinite alternate pulse;
    background:none;
    outline:none;
    width:100%;
    height:100%;

}

@keyframes pulse {
    0% {
        text-shadow: rgba(255, 255, 255, .9) -0.06em -0.06em, rgba(67, 144, 126, .9) 0 0;
    }

    33% {
        text-shadow: rgba(204, 255, 252, .9) -0.15em -0.15em, rgba(157, 94, 186, .9) 0 0;
    }

    66% {
        text-shadow: rgba(229, 255, 254, .9) -0.06em -0.06em, rgba(157, 94, 186, .9) 0 0;
    }

    100% {
        text-shadow: rgba(179, 255, 251, .9) -0.15em -0.15em, rgba(202, 69, 215, .9) 0 0;
    }
}



#actions{
    text-align:center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    .btn-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .btn-hover:focus {
        outline: none;
    }

    .btn-hover.color-7 {
        background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
        box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    }

.fade-in {
    -webkit-animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrapper{
    display:none;
    box-sizing:border-box;
    height:70%;
    width:80%;
    margin:0 auto;
    grid-gap:5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}



.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

#history-network{
    display:none;
    width:80%;
    height:70%;
    margin: 0 auto;
    background:white;
}


.slide-out-top {
    -webkit-animation: slide-out-top 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-top 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}
