html *{
	font-family: 'Raleway', sans-serif;
}

body {
	max-width:100%;
	height:100%;
	background-color: #818181;
	margin-left: auto;
	margin-right: auto;
}

nav{
	border-top:2px solid black;
	border-bottom:2px solid black;
	width:auto;
	height:100px;
}

.navbar{
	background: linear-gradient(#7d7e7d 25%,#0e0e0e 150% );  
    -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    background-size:1px 200px;
	
	width:11.1111%;
	float:left;
	height:100px;
	box-sizing: border-box;
	border-right:1px solid black;
	text-align:center;
	text-decoration:none;
	padding-top:38px;
	font-weight:bold;
	font-size:24px;	
}

#escu {
    background-image: url("https://i.imgur.com/cLxxcZq.png");
    background-size: contain;
}

.navbar:hover{
	  background-position:100px;  
}

a{
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
a:hover{
	  color:white;
}

header{
	height:auto;
	width:473px;
	margin:auto;
	
}
#name{
	text-align:center;
	margin:auto;
	height:150px;
	width:800px;
}
#gachiboard {
    display: none;
    height: 80px;
    width: 800px;
    text-align: center;
}
.rainbow {
    position: relative;
    display: inline-block;
    
    margin:0px;
    padding:0px;
    background-color: #343A40;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    opacity:0.01;

}
@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}
.rainbow:hover {
    background-image: linear-gradient( to right, #E7484F, #F68B1D, #FCED00, #009E4F, #00AAC3, #732982 );
    animation: slidebg 2s linear infinite;
    opacity:1;
}


.gachibutton {
    display: none;
    width:15%;
    background-color: #343A40;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient( to right, #E7484F, #F68B1D, #FCED00, #009E4F, #00AAC3, #732982 );
    animation: slidebg 2s linear infinite;
       
    border: .4rem solid black;
    text-shadow: 0 0 .5rem black;
    transition: all .07s ease;
    border-radius: .5rem;

    opacity: 0.4;
}


.gachipressed {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

#ungachi {
    display:none;
    position: relative;
    left: 300px;
    margin: 0px;
    height: 20px;
    width: 200px;
}

h1 {
    position: relative;
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center !important;
}
.h2container{
	margin:auto;
	height:450px;
	width:100%;
	border-bottom:1px solid black;
}

.noborder{
    border:none;
}

h2 {
	text-align:center;
	margin-top:0px;
}
.btncntnr{
	margin:auto;
	margin-top:0px;
	width:800px;
	height:350px;
}

 .btncntnr button {
    background-color: #ccc;
    border: 1px solid transparent;
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
    -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
    transition: border 0.1s linear, box-shadow 0.1s linear;
}


.active {
    border-color: red;
    -webkit-box-shadow: 0 0 5px red;
    -moz-box-shadow: 0 0 5px Red;
    box-shadow: 0 0 5px red;
}
.lowopacity {
    -webkit-animation: fadeout 2000ms;
    -ms-animation: fadeout 2000ms;
    animation: fadeout 2000ms;
    animation-fill-mode: forwards;
}
@keyframes fadeout{
    from{
        opacity:1;
    }
    to{
        opacity:0.2;
    }
}
.highopacity {
    -webkit-animation: fadein 1000ms;
    -ms-animation: fadein 2000ms;
    animation: fadein 2000ms;
    animation-fill-mode:forwards;
}

@keyframes fadein {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

button {
    float: left;
    padding: 0px;
    font-weight: bold;
    margin: 5px;
    width: 100px;
    height: 50px;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    opacity: 1;
}
button:active {
    transform: translateY(4px);
}

button:hover {
    background-color: #eaebe7;
}

#edpic{
	position:fixed;
	top:80%;
	left:94.5%;

}
#billypic {
    display:none;
    max-width:140px;
    position: fixed;
    top: 20%;
    left: 93.5%;
}
footer{
	border-top:2px solid black;
	border-bottom:2px solid black;
	width:auto;
	height:100px;
}

.ricardo {
    background-color: black;
    -webkit-transition: background-color 2000ms linear;
    -ms-transition: background-color 2000ms linear;
    transition: background-color 2000ms linear;
}
.unricardo {
    background-color: #818181;
    -webkit-transition: background-color 2000ms linear;
    -ms-transition: background-color 2000ms linear;
    transition: background-color 2000ms linear;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-right {
    -webkit-animation: slide-right 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}


.fade-in {
    -webkit-animation: fade-in 4s cubic-bezier(0.755, 0.050, 0.855, 0.060) both, 
        slide-bottom 5s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: fade-in 4s cubic-bezier(0.755, 0.050, 0.855, 0.060) both, 
        slide-bottom 5s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes fade-in {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(550px);
        transform: translateY(550px);
    }
}

@keyframes fade-in {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(550px);
        transform: translateY(550px);
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.slide-left {
    -webkit-animation: slide-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(px);
    }
}

.vibrate-2 {
    -webkit-animation: vibrate-2 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
    animation: vibrate-2 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-26 18:53:22
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0px,550px);
        transform: translate(0px,550px);
    }

    20% {
        -webkit-transform: translate(2px, 548px);
        transform: translate(2px, 548px);
    }

    40% {
        -webkit-transform: translate(2px, 552px);
        transform: translate(2px, 552px);
    }

    60% {
        -webkit-transform: translate(-2px, 552px);
        transform: translate(-2px, 552px);
    }

    80% {
        -webkit-transform: translate(-2px,548px);
        transform: translate(-2px,548px);
    }

    100% {
        -webkit-transform: translate(0px,550px);
        transform: translate(0px,550px);
    }
}

@keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0px,550px);
        transform: translate(0px,550px);
    }

    20% {
        -webkit-transform: translate(2px, 548px);
        transform: translate(2px, 548px);
    }

    40% {
        -webkit-transform: translate(2px, 552px);
        transform: translate(2px, 552px);
    }

    60% {
        -webkit-transform: translate(-2px, 552px);
        transform: translate(-2px, 552px);
    }

    80% {
        -webkit-transform: translate(-2px,548px);
        transform: translate(-2px,548px);
    }

    100% {
        -webkit-transform: translate(0px,550px);
        transform: translate(0px,550px);
    }
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(.175,.885,.32,1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(.175,.885,.32,1.275) both
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}


.slide-out-br {
    -webkit-animation: slide-out-br 5s cubic-bezier(.55,.085,.68,.53) both;
    animation: slide-out-br 5s cubic-bezier(.55,.085,.68,.53) both
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-26 3:18:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2019-2-26 3:19:47
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-out-br {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(1000px) translateX(1000px);
        transform: translateY(1000px) translateX(1000px);
        opacity: 0
    }
}

@keyframes slide-out-br {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(1000px) translateX(1000px);
        transform: translateY(1000px) translateX(1000px);
        opacity: 0
    }
}


.swing-out-top-bck {
    -webkit-animation: swing-out-top-bck 1s cubic-bezier(.6,-.28,.735,.045) both;
    animation: swing-out-top-bck 1s cubic-bezier(.6,-.28,.735,.045) both
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-26 5:18:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes swing-out-top-bck {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }

    100% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }
}

@keyframes swing-out-top-bck {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }

    100% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}